<h1> Recuperação de senha </h1>
<p>
  Recentemente você solicitou a alteração de senha. Se não foi você, por favor desconsidere esse e-mail.
</p>
<p>
   para verificar seu e-mail e alterar a senha.
</p>
